<%- contentFor("estilo") %>

<%- contentFor("content") %>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-12">
                <h1 class="h2 mb-4 fw-normal text-center"><%- campanha.data.titulo %></h1>

                <p class="text-justify">
                    <%- campanha.data.historia %>
                </p>
            </div>

            <div class="col-md-12 mt-5 pt-3">
                <h4 class="text-center">Histórico da Campanha</h4>
                <ul class="mt-3 p-3 pl-5 rounded" style="background-color: #f1f1f1;">
                    <% for(const historico of historicoDeCampanha.data) { %>
                        <li><%- historico.acontecimento %></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <ul class="list-unstyled">
                <li class="media mb-3 rounded border border-primary bg-info">
                    <div class="media-body text-center">
                        <h3 class="mt-0 ml-3 mb-1 mt-2">
                            Mestre:
                        </h3>
                        <h5 class="mt-0 ml-3 mb-1 mt-2">
                            <%- campanha.data.mestre.nome%>
                        </h5>

                    </div>
                </li>

                <% for(const personagem of campanha.data.personagens) { %>
                    <li class="media mb-3 rounded border " style="background-color: #f1f1f1;">
                        <div class="media-body">
                            <h5 class="mt-0 ml-3 mb-1 mt-2"><a
                                        href="http://"><%- personagem.nome %></a></h5>
                            <p class="ml-3">
                                <strong>Jogador:</strong> <%- personagem.jogador.nome %> <br>
                                <strong>Raça:</strong> <%- personagem.raca.nome %> <br>
                                <strong>Classe:</strong> <%- personagem.classe.nome %> <br>
                                <strong>Nivel:</strong> <%- personagem.nivel %>
                            </p>
                        </div>
                    </li>
                <% } %>

            </ul>


        </div>
    </div>
</div>