<%- contentFor("content") %>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="h2 mb-4 fw-normal ">Personagens</h1>
        </div>
        <div class="col-md-2">
            <a href="/cadastro-personagem" class="btn btn-success float-right btn-sm mt-3"><i
                        class="fa-solid fa-plus"></i> Cadastrar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if(personagens.data.length === 0) { %>
            <div class="alert alert-info col-md-12 text-center">
                <p>Você não tem nenhum personagem. Clique no botão a cima para cadastrar</p>
            </div>
            <% } else { %>
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th class="table-secondary text-dark">
                        Nome
                    </th>
                    <th class="table-secondary text-dark">
                        Raça
                    </th>
                    <th class="table-secondary text-dark">
                        Classe
                    </th>
                    <th class="table-secondary text-dark">
                        Nivel
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% for(const personagem of personagens.data) { %>
                        <tr>
                            <td><a href="#"><%= personagem.nome %></a></td>
                            <td><%= personagem.raca.nome %></td>
                            <td><%= personagem.classe.nome %></td>
                            <td><%= personagem.nivel %></td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>